<body>
  <%- include('hero.ejs') %>
  <section class="blog spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5">
          <div class="blog__sidebar">
            <div class="blog__sidebar__search">
              <form action="#">
                <input type="text" placeholder="Search..." />
                <button type="submit"><span class="icon_search"></span></button>
              </form>
            </div>
            <div class="blog__sidebar__item">
              <h4>Categories</h4>
              <ul>
                <li><a href="#">All</a></li>
                <li><a href="#">Beauty (20)</a></li>
                <li><a href="#">Food (5)</a></li>
                <li><a href="#">Life Style (9)</a></li>
                <li><a href="#">Travel (10)</a></li>
              </ul>
            </div>
            <div class="blog__sidebar__item">
              <h4>Recent News</h4>
              <div class="blog__sidebar__recent">
                <% blogs.slice(0, 5).forEach(blog => { %>
                <a
                  href="/blog-details/<%= blog.id %>"
                  class="blog__sidebar__recent__item"
                >
                  <div class="blog__sidebar__recent__item__pic">
                    <img
                      src="/img/uploads/<%= Array.isArray(blog.image) ? blog.image[0] : blog.image %>"
                      alt=""
                      width="70"
                      height="70"
                    />
                  </div>
                  <div class="blog__sidebar__recent__item__text">
                    <h6>
                      <%= blog.title %><br />
                      <!-- <%= blog.description %> -->
                    </h6>
                    <span><%= blog.updatedAt %></span>
                  </div>
                </a>
                <% }); %>
              </div>
            </div>
            <!-- <div class="blog__sidebar__item">
              <h4>Search By</h4>
              <div class="blog__sidebar__item__tags">
                <a href="#">Apple</a>
                <a href="#">Beauty</a>
                <a href="#">Vegetables</a>
                <a href="#">Fruit</a>
                <a href="#">Healthy Food</a>
                <a href="#">Lifestyle</a>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="row">
            <% blogs.slice(0, 5).forEach(blog => { %>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="blog__item">
                <div class="blog__item__pic">
                  <img
                    src="/img/uploads/<%= Array.isArray(blog.image) ? blog.image[0] : blog.image %>"
                    alt=""
                    width="100%"
                    height="300px"
                  />
                </div>
                <div class="blog__item__text">
                  <ul>
                    <li>
                      <i class="fa fa-calendar-o"></i> <%= blog.updatedAt %>
                    </li>
                    <!-- <li><i class="fa fa-comment-o"></i> 5</li> -->
                  </ul>
                  <h5><a href="#"> <%= blog.title %></a></h5>
                  <%= blog.description %>
                  <br />
                  <a href="/blog-details/<%= blog.id %>" class="blog__btn"
                    >READ MORE <span class="arrow_right"></span
                  ></a>
                </div>
              </div>
            </div>
            <% }); %>
            <div class="col-lg-12">
              <div class="product__pagination blog__pagination">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#"><i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Section End -->
</body>
