<body>
  <%- include('hero.ejs') %>
  <section class="blog-details-hero set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="blog__details__hero__text">
            <ul>
              <li>By Admin</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="blog-details spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5 order-md-1 order-2">
          <div class="blog__sidebar">
            <div class="blog__sidebar__search">
              <form action="#">
                <input type="text" placeholder="Search..." />
                <button type="submit"><span class="icon_search"></span></button>
              </form>
            </div>
            <div class="blog__sidebar__item">
              <h4>Categories</h4>
              <ul>
                <% categories.forEach(category => { %>
                <li>
                  <a href="/department/<%= category.id %>"
                    ><%= category.name %></a
                  >
                </li>
                <% }); %>
              </ul>
            </div>
            <div class="blog__sidebar__item">
              <h4>Recent News</h4>
              <div class="blog__sidebar__recent">
                <% blogs.slice(0, 5).forEach(blog => { %>
                <a
                  href="/blog-details/<%= blog.id %>"
                  class="blog__sidebar__recent__item"
                >
                  <div class="blog__sidebar__recent__item__pic">
                    <img
                      src="/img/uploads/<%= Array.isArray(blog.image) ? blog.image[0] : blog.image %>"
                      alt=""
                      width="70"
                      height="70"
                    />
                  </div>
                  <div class="blog__sidebar__recent__item__text">
                    <h6><%= blog.title %><br /></h6>
                    <span><%= blog.updatedAt %></span>
                  </div>
                </a>
                <% }); %>
              </div>
            </div>
            <div class="blog__sidebar__item">
              <h4>Search By</h4>
              <div class="blog__sidebar__item__tags">
                <% categories.forEach(category => { %>
                <a href="/department/<%= category.id %>"
                  ><%= category.name %></a
                >
                <% }); %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-7 order-md-1 order-1">
          <div class="blog__details__text">
            <img
              src="/img/uploads/<%= Array.isArray(blogDetails.image) ? blogDetails.image[0] : blogDetails.image %>"
              alt=""
              width="266"
              height="370"
            />
            <h1><%= blogDetails.title %></h1>
            <p><%= blogDetails.description %></p>
          </div>
          <div class="blog__details__content">
            <div class="row">
              <div class="col-lg-6">
                <div class="blog__details__author">
                  <div class="blog__details__author__pic">
                    <img
                      src="/img/uploads/<%= Array.isArray(blogDetails.image) ? blogDetails.image[0] : blogDetails.image %>"
                      alt=""
                    />
                  </div>
                  <div class="blog__details__author__text">
                    <span>Admin</span>
                  </div>
                </div>
              </div>
              <hr />
              <div class="col-lg-6">
                <div class="blog__details__widget">
                  <div class="blog__details__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Details Section End -->

  <!-- Related Blog Section Begin -->
  <section class="related-blog spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title related-blog-title">
            <h2>Post You May Like</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <% recentBlogs.forEach(recentBlog => { %>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="blog__item">
            <div class="blog__item__pic">
              <img
                src="/img/uploads/<%= Array.isArray(recentBlog.image) ? recentBlog.image[0] : recentBlog.image %>"
                alt=""
                height="200"
                width="200"
              />
            </div>
            <div class="blog__item__text">
              <ul>
                <li>
                  <i class="fa fa-calendar-o"></i> <%= recentBlog.title %>
                </li>
                <!-- <li><i class="fa fa-comment-o"></i> 5</li> -->
              </ul>
              <h5>
                <a href="/blog-details/<%= recentBlog.id %>"
                  ><%= recentBlog.createdAt %></a
                >
              </h5>
              <p><%= recentBlog.description %></p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </section>
</body>
